@import url('https://fonts.cdnfonts.com/css/alegre-sans');

html {
  font-size: 15px;
  font-family: 'Alegre Sans', sans-serif;
  letter-spacing: 5px;
  background-color: white;
  padding-left: 300px;
  padding-right: 300px;
}


h1 {
  font-size: 100px;
  text-align: center;
  background-color:#ebded8;
}

h2 {
  font-size: 26px;
  display: flex;
  padding-left: 50px;
}
ul {
  padding-left: 50px;
}

p {
  font-size: 16px;
  line-height: 5;
}

li {
  font-size: 24px;
  line-height: 2;
  letter-spacing: 1px;
  justify-content: center;
}


body {
  height: auto;
  width: auto;
  margin: 0 auto;
  color: black;
  background-color: #fff3ed;
  text-align: center;
 }

h1 {
  margin: 0;
  padding: 20px 0;
  color: black;
}

footer {
  border-bottom: 3px solid black;
}

img {
  display: block;
  margin: 0 auto;
}

a {
        text-decoration: none;
	color: inherit;
}

li{
	text-align: left;
	left: 100px;
}
.fa_custom {
	color: black;
	display: block;
	font-size: 48px;
}

