html {
  font-size: 15px;
  font-family: 'Century Gothic', sans-serif;
}


h1 {
  font-size: 70px;
  text-align: center;
}

h3 {
  font-size: 16px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 5;
  letter-spacing: 1px;
}

li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: black;
}


body {
  min-width: 1000px;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  color: black;
  background-color: #fff3ed;
 }

section {
    float: left;
    line-height: 3;
    width: 32%;
    justify-content: center
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: black;
}

footer {
  border-bottom: 3px solid black;
}

img {
  display: block;
  margin: 0 auto;
}
iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
li:hover {
	color: #b366ff;
	cursor: pointer;
}
a:hover {
	color: #ff1a1a;
	cursor: pointer;
}
